// Estilize o formulário de cadastro
ion-content {
  --background: #f0f0f0; // Define a cor de fundo do formulário

  .registration-form {
    background-color: var(--background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    ion-input {
      margin-bottom: 15px;

      // Personalize a aparência das entradas de texto
      --border-color: #007bff;
      --placeholder-color: #333;
      --highlight-color-focused: #007bff;
    }

    ion-button {
      --background: #007bff;
      --color: #fff;
      border-radius: 5px;
      margin-top: 15px;

      &.ion-focus {
        --background: darken(#007bff, 10%);
      }
    }

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

  